# PRÁCTICA SYSTEMAS DISTRIBUIDOS III <a class="anchor" id="back">
<font color='#fb7813'>**KAFKA STREAMING + SPARK**</font>

**Descripción:** este notebook tiene como objetivo leer los datos proporcionados en CSV mediante un productor que envíe los datos a una cola Kafka de nombre *test* con un retardovariable entre muestras insertadas de entre 0.6 y 1.3 segundos. Posteriormente, usando la API de *Spark Structured Streaming* con un intervalo de actualizacion de micro-batches (triggers) de 5 segundos se pide realizar 3 consultas.

**Datos:** Los datos contienen información de un experimento para intentar predecir los tiempos de ocupación de una estancia, en función de los valores tomados por variables ambientales.los datos proporcionados están en formato CSV. El archivo occupancy_data.csv contiene 8.143 entradas, una para cada muestra recogida, a intervalos aproximadamente regulares de 1 minuto entre muestras. 

**Miembros del equipo:** Verónica Gómez, Carlos Grande y Pablo Olmos

**GitHub URL:** https://github.com/Akinorev/dataScienceGitR2/tree/master/03_DataScience_III/sd3

## Índice
* [0. Instrucciones](#readme)
* [1. Contexto y entorno de Spark](#context)
* [2. Lectura de datos en batch](#batch)
* [3. Conexión con Kafka](#kafka)
* [4. Definición del Stream](#stream)
* [5. Queries](#queries)
---

## Carga de librerías

In [1]:
from time import sleep
import sys, os
from collections import OrderedDict

# spark libraries
from pyspark.sql import SparkSession
from pyspark.sql.types import StructField, StructType, TimestampType, DoubleType,\
    IntegerType, StringType, ArrayType, BooleanType
import pyspark.sql.functions as fn

## Carga de scripts

In [2]:
import sys
sys.path.append('../02_scripts')
import myKafka

---

## 1. Contexto y entorno de Spark <a class="anchor" id="context">
[<font color='#fb7813'>**\>\> Volver arriba**</font>](#back)

In [3]:
packages = "org.apache.spark:spark-sql-kafka-0-10_2.11:2.4.5"
os.environ["PYSPARK_SUBMIT_ARGS"] = (
    "--packages {0} pyspark-shell".format(packages)
)

print("PYSPARK_SUBMIT_ARGS = ",os.environ["PYSPARK_SUBMIT_ARGS"],"\n")
print("JAVA_HOME = ", os.environ["JAVA_HOME"])

PYSPARK_SUBMIT_ARGS =  --packages org.apache.spark:spark-sql-kafka-0-10_2.11:2.4.5 pyspark-shell

JAVA_HOME =  /usr/lib/jvm/java-1.8.0-openjdk-amd64

In [4]:
# Create SparkContext object (low level)
spark = (SparkSession
    .builder
    .appName("PracticaSD3")
    .getOrCreate())

spark

## 2. Lectura de datos en Batch <a class="anchor" id="batch">
[<font color='#fb7813'>**\>\> Volver arriba**</font>](#back)

### 2.1 Creación del esquema y muestra de los datos

In [5]:
custom_schema = StructType([
    StructField("row", IntegerType(), True),
    StructField("date", TimestampType(), True), 
    StructField("Temperature", DoubleType(), True),
    StructField("Humidity", DoubleType(), True),
    StructField("Light", DoubleType(), True),
    StructField("CO2", DoubleType(), True),
    StructField("HumidityRatio", DoubleType(), True),
    StructField("Occupancy", IntegerType(), True) 
                           ])

In [6]:
batch = spark.read.option("header", True).csv('../01_data/occupancy_data.csv', 
                                                  schema=custom_schema)

In [7]:
batch.show(5)

+---+-------------------+-----------+--------+-----+------+-------------------+---------+
|row|               date|Temperature|Humidity|Light|   CO2|      HumidityRatio|Occupancy|
+---+-------------------+-----------+--------+-----+------+-------------------+---------+
|  1|2015-02-04 17:51:00|      23.18|  27.272|426.0|721.25|0.00479298817650529|        1|
|  2|2015-02-04 17:51:59|      23.15| 27.2675|429.5| 714.0|0.00478344094931065|        1|
|  3|2015-02-04 17:53:00|      23.15|  27.245|426.0| 713.5|0.00477946352442199|        1|
|  4|2015-02-04 17:54:00|      23.15|    27.2|426.0|708.25|0.00477150882608175|        1|
|  5|2015-02-04 17:55:00|       23.1|    27.2|426.0| 704.5|0.00475699293331518|        1|
+---+-------------------+-----------+--------+-----+------+-------------------+---------+
only showing top 5 rows

### 2.2 Comprobación datos nulos

In [8]:
columns = batch.columns
batch.select([fn.count(fn.when(fn.col(colmn).isNull(), colmn))
              .alias(colmn) for colmn in columns]).show()

+---+----+-----------+--------+-----+---+-------------+---------+
|row|date|Temperature|Humidity|Light|CO2|HumidityRatio|Occupancy|
+---+----+-----------+--------+-----+---+-------------+---------+
|  0|   0|          0|       0|    0|  0|            0|        0|
+---+----+-----------+--------+-----+---+-------------+---------+

## 3. Conexión con Kafka <a class="anchor" id="kafka">
[<font color='#fb7813'>**\>\> Volver arriba**</font>](#back)

In [9]:
read_stream = spark\
    .readStream.format("kafka")\
    .option("kafka.bootstrap.servers", "localhost:9092")\
    .option("subscribe", "test").load()

In [10]:
read_stream.printSchema()

root
 |-- key: binary (nullable = true)
 |-- value: binary (nullable = true)
 |-- topic: string (nullable = true)
 |-- partition: integer (nullable = true)
 |-- offset: long (nullable = true)
 |-- timestamp: timestamp (nullable = true)
 |-- timestampType: integer (nullable = true)

## 4. Definición del Stream <a class="anchor" id="stream">
[<font color='#fb7813'>**\>\> Volver arriba**</font>](#back)

In [11]:
df_stream = read_stream\
    .withColumn('array_value',
                fn.split(fn.col('value').cast(StringType()), ',')
               )

In [12]:
# Definimos OrderedDict para leer values en orden
schema = OrderedDict()
schema["row"] = IntegerType()
schema["date"] = TimestampType()
schema["Temperature"] = DoubleType()
schema["Humidity"] = DoubleType()
schema["Light"] = DoubleType()
schema["CO2"] = DoubleType()
schema["HumidityRatio"] = DoubleType()
schema["Occupancy"] = IntegerType()

In [13]:
df_stream_schema = myKafka.apply_schema(df_stream, schema)

In [14]:
test_query = (df_stream_schema
                .select(*columns)
    .writeStream
    .format("memory")
    .queryName("test_query")
    .trigger(processingTime="5 seconds")
    .outputMode('append')
    .start())

In [15]:
sleep(11)
df = spark.sql("SELECT * FROM test_query")
df.show(5)
df.count()

+---+-------------------+-----------+----------------+-----+----------------+-------------------+---------+
|row|               date|Temperature|        Humidity|Light|             CO2|      HumidityRatio|Occupancy|
+---+-------------------+-----------+----------------+-----+----------------+-------------------+---------+
| 63|2015-02-04 18:53:00|      22.39|           27.39|  0.0|           620.0| 0.0045870824294015|        0|
| 64|2015-02-04 18:53:59|      22.29|           27.39|  0.0|           621.5|0.00455905614852278|        0|
| 65|2015-02-04 18:55:00|      22.29|27.3566666666667|  0.0|616.333333333333|0.00455346720904263|        0|
| 66|2015-02-04 18:55:59|      22.29|           27.34|  0.0|           609.0|0.00455067277669262|        0|
| 67|2015-02-04 18:56:59|      22.29|           27.39|  0.0|           614.0|0.00455905614852278|        0|
+---+-------------------+-----------+----------------+-----+----------------+-------------------+---------+
only showing top 5 rows

11

In [16]:
test_query.stop()

## 5. Queries <a class="anchor" id="queries">
[<font color='#fb7813'>**\>\> Volver arriba**</font>](#back)

### 5.1 Promedio de valores
Calcular el promedio de valores de temperatura, humedad relativa y concentración de CO2 para cada micro-batch, y el promedio de dichos valores desde el arranque de la aplicación.

**Por Microbatch**

In [17]:
columns = ["Temperature", "Humidity", "CO2"]
query_1a = (df_stream_schema
             .select(*[fn.avg(col).alias("avg_" + col) for col in columns])
    .writeStream
    .format("memory")
    .queryName("query1a")
    .trigger(processingTime="5 seconds")
    .outputMode("update")
    .start())

In [18]:
sleep(11)
df = spark.sql("SELECT * FROM query1a")
df.show(5)

+------------------+------------------+-----------------+
|   avg_Temperature|      avg_Humidity|          avg_CO2|
+------------------+------------------+-----------------+
|              null|              null|             null|
|          22.21125|27.278750000000002|           593.75|
|22.199499999999997|27.262999999999998|592.2333333333333|
+------------------+------------------+-----------------+

In [19]:
query_1a.stop()

**Desde memoria**

In [21]:
query_1b = (df_stream_schema
             .select(*[fn.avg(col).alias("avg_" + col) for col in columns])
    .writeStream
    .format("memory")
    .queryName("query1b")
    .trigger(processingTime="5 seconds")
    .outputMode('update')
    .option("checkpointLocation", "../01_data/checkpoints")
    .start())

In [22]:
sleep(11)
df = spark.sql("SELECT * FROM query1b")
df.show(5)

+------------------+------------------+------------------+
|   avg_Temperature|      avg_Humidity|           avg_CO2|
+------------------+------------------+------------------+
|21.332408774087664|25.233808323083277| 486.3254407544077|
|  21.3330937755937|25.236100941850985|486.40980753480767|
|21.336493691493615|25.247480056980102| 486.7992470492472|
|21.339751213592155|25.258721076051824| 487.1762742718448|
+------------------+------------------+------------------+

In [23]:
query_1b.stop()

### 5.2 Promedio luminosidad
Calcular el promedio de luminosidad en la estancia en ventanas deslizantes de tamaño 45 segundos, con un valor de deslizamiento de 15 segundos entre ventanas consecutivas.

In [27]:
df_window = (df_stream_schema
                .withWatermark("date", "45 seconds")
                .groupBy(fn.window("date",
                                "45 seconds",
                                "15 seconds")
                        )
                .agg(fn.avg("Light").alias("avg_light"))
               )

In [28]:
query_2 = (df_window
    .writeStream
    .format("memory")
    .queryName("query2")
    .trigger(processingTime='5 seconds')
    .outputMode('append')
    .start())

In [33]:
df = spark.sql("SELECT * FROM query2")
df.orderBy("window", ascending=False).show(5, truncate=False)

+------------------------------------------+---------+
|window                                    |avg_light|
+------------------------------------------+---------+
|[2015-02-05 14:42:30, 2015-02-05 14:43:15]|515.0    |
|[2015-02-05 14:42:00, 2015-02-05 14:42:45]|525.5    |
|[2015-02-05 14:41:45, 2015-02-05 14:42:30]|525.5    |
|[2015-02-05 14:41:30, 2015-02-05 14:42:15]|525.5    |
|[2015-02-05 14:41:00, 2015-02-05 14:41:45]|479.0    |
+------------------------------------------+---------+
only showing top 5 rows

In [31]:
query_2.stop()

### 5.3 Intervalo de muestras
Examinando los datos, podemos apreciar que el intervalo entre muestras originales no es exactamente de 1 minuto en muchos casos. Calcular el número de parejas de muestras consecutivas en cada micro-batch entre las cuales el intervalo de separación no es exactamente de
1 minuto.

In [34]:
spark.sql('show tables').show()

+--------+----------+-----------+
|database| tableName|isTemporary|
+--------+----------+-----------+
|        |   query1a|       true|
|        |   query1b|       true|
|        |    query2|       true|
|        |test_query|       true|
+--------+----------+-----------+